<div class="system-info panel-style">
  <div class="panel-style__title">
    {{ system?.name }}
    <button class="close-btn" type="button" (click)="close.emit()">X</button>
  </div>

  <div class="system-info__content">
    <div>
      <img src="/icon-star-map.png" alt="" width="14" height="14" class="info-icon" /> PLANETS:
      {{ system?.planets }}
    </div>

    <div>STATUS: UNEXPLORED</div>
  </div>

  <button type="button" (click)="enterSystem.emit(); $event.stopPropagation()">
    ENTER SYSTEM
  </button>
</div>
