<div class="system-grid" (click)="onSystemGridClick($event)">
  @if (selectedSystem) {
    <!-- SUN -->
    <div class="sun" [style.--sun-color]="selectedSystem.color">
      <div class="sun-glow"></div>
      <div class="sun-core"></div>
    </div>

    <!-- SYSTEM SENSOR RANGE HIGHLIGHTS -->
    @if (sensorRangeEnabled) {
      @for (cell of systemSensorCells.cells; track cell.col + '-' + cell.row) {
        <div
          class="sensor-range-cell system-sensor-cell"
          [style.--sensor-color]="getFactionColor('player')"
          [style.gridColumn]="cell.col"
          [style.gridRow]="cell.row"
        ></div>
      }

      <!-- SYSTEM SENSOR OUTER-RING PREVIEW CELLS -->
      @for (cell of systemSensorCells.preview; track cell.col + '-' + cell.row) {
        <div
          class="sensor-preview-cell system-sensor-preview-cell"
          [style.--sensor-color]="getFactionColor('player')"
          [style.gridColumn]="cell.col"
          [style.gridRow]="cell.row"
        ></div>
      }
    }

    <!-- PLANETS -->
    @for (planet of selectedSystem.planetsTiles; track planet.id) {
      <button
        class="planet"
        [ngClass]="getPlanetClassNames(planet)"
        [class.planet--unexplored]="!planet.explored"
        [style.gridColumn]="movementService.getPlanetGridPosition(planet).col"
        [style.gridRow]="movementService.getPlanetGridPosition(planet).row"
        [style.--planet-color]="selectedSystem.color"
        (click)="onPlanetClick(planet, $event)"
        (contextmenu)="onPlanetContextMenu($event)"
      >
        <div class="planet-body"></div>
        <div class="planet-name" [style.color]="getFactionColor(planet.factionId)">
          {{ planet.name }}
        </div>
      </button>
    }

    <!-- FLEETS IN SYSTEM -->
    @for (fleet of fleets; track fleet.id) {
      @if (fleet.system?.id === selectedSystem.id) {
        <div
          class="fleet-cell"
          [style.left]="fleet.system?.x + 'vw'"
          [style.top]="fleet.system?.y + 'vw'"
        >
          <button
            class="fleet"
            [class.selected]="selectedFleet?.id === fleet.id"
            [class.moving]="fleet.system?.targetX !== null && fleet.system?.targetY !== null"
            [class.arriced]="fleet.system?.targetX === null || fleet.system?.targetY === null"
            type="button"
            (click)="onFleetClick(fleet, $event)"
            (contextmenu)="onFleetContextMenu($event)"
          >
            <span class="fleet__icon">
              <img src="fleet.svg" />
            </span>
            <span class="fleet__name" [style.color]="getFactionColor(fleet.factionId)">{{
              fleet.name
            }}</span>
          </button>
        </div>
      }
    }

    <!-- FLEET SYSTEM DESTINATION -->
    @if (
      targetX !== null &&
      targetY !== null &&
      selectedFleet &&
      selectedFleet.system?.id === selectedSystem.id
    ) {
      <div
        class="ship-target system-target"
        [style.left]="targetX + 'vw'"
        [style.top]="targetY + 'vw'"
      >
        <span class="ship-target__crosshair">+</span>
        <span class="ship-target__line">TARGET</span>
      </div>
    }

    <!-- MOVEMENT TRAILS -->
    @for (trail of trails; track trail.fleetId) {
      @if (getTrailLength(trail) > 0) {
        <div
          class="fleet-trail"
          [class.fleet-trail--player]="trail.factionId === 'player'"
          [style.left]="trail.x1 + 'vw'"
          [style.top]="trail.y1 + 'vw'"
          [style.width]="getTrailLength(trail) + 'vw'"
          [style.transform]="getTrailTransform(trail)"
          [style.--trail-color]="trail.color"
        ></div>
      }
    }
  }
</div>
