/* =========================================================
   MAP NAVIGATION
   ========================================================= */

@use 'mixins' as *;

.map-navigation {
  position: fixed;
  right: 2%;
  bottom: 3%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5em;
  z-index: 30;

  @include mobile-view {
    bottom: 5px;
    right: 5px;
  }
}

.map-navigation__dpad {
  display: grid;
  grid-template-columns: repeat(3, 3em);
  grid-template-rows: repeat(3, 3em);
  gap: 0.3em;

  @include mobile-view {
    grid-template-columns: repeat(3, 2rem);
    grid-template-rows: repeat(3, 2rem);
    gap: 0.2em;
  }
}

.map-navigation__dpad button {
  width: 3em;
  min-height: 3em;
  padding: 0;
  font-size: 1rem;

  @include mobile-view {
    display: block;
    width: 2rem;
    min-height: 2rem;
    font-size: 0.8rem;
  }
}

.map-navigation__up {
  grid-column: 2;
  grid-row: 1;
}

.map-navigation__left {
  grid-column: 1;
  grid-row: 2;
}

.map-navigation__center {
  grid-column: 2;
  grid-row: 2;
}

.map-navigation__right {
  grid-column: 3;
  grid-row: 2;
}

.map-navigation__down {
  grid-column: 2;
  grid-row: 3;
}

.map-navigation__minimap {
  @include mobile-view {
    width: 120px;
    height: 72px;
  }
}
